body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #efbc9c;
}

h1 {
  font-family: "Noto Serif", serif;
  color: #0b3f30;
  font-size: 60px;
  margin: 0;
  margin-bottom: 10px;
}

.mainCalc {
  box-sizing: border-box;
  height: 70vh;
  width: 440px;
  background-color: #ea572a;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(66, 66, 66);
  gap: 4px;
  padding: 30px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4),
    inset 0px 0px 0px 10px rgba(0, 0, 0, 0.178);
}

.calcWindow {
  background-color: #f7e1c6;
  font-family: "Noto Serif", serif;
  font-size: 32px;
  padding: 8px;
  display: flex;
  flex-basis: 300px;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  border-style: solid;
  border-width: 4px;
  border-color: #755b4a;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.26) inset 5px 5px 0px 5px;
}

.r1,
.r2,
.r3,
.r4,
.r5 {
  box-sizing: border-box;
  height: 20%;
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

button {
  border: none;
  font-size: 24px;
  font-weight: 900;
  border-style: solid;
  border-color: white;
  border-width: 0.1rem;
  box-shadow: 7px 6px 0px rgba(0, 0, 0, 0.4),
    inset -4px -4px 0px 9px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: scale(0.95) translate(3px, 1px);
}

.funcBtn,
.numsBtn {
  flex: 1;
  margin: 0;
  padding: 0;
}

.funcBtn {
  background-color: #136d53;
  flex: 1;
  margin: 0;
  padding: 0;
}

.numsBtn {
  background-color: #e39828;
}

#zero {
  flex-grow: 2.07;
}
