body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(63, 63, 63);
}

h1 {
  font-family: "Noto Serif", serif;
  color: white;
  font-size: 72px;
  margin: 0;
  margin-bottom: 10px;
}

.mainCalc {
  box-sizing: border-box;
  height: 70vh;
  width: 480px;
  background-color: slategray;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(170, 170, 170);
  gap: 4px;
}

.calcWindow {
  background-color: rgb(129, 196, 212);
  flex-basis: 20%;
  height: 15%;
  font-family: "Noto Serif", serif;
  font-size: 52pt;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.r1,
.r2,
.r3,
.r4,
.r5 {
  height: 20%;
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

button {
  border: none;
  font-size: 24px;
  font-weight: 900;
  border-style: solid;
  border-color: white;
  border-width: 0.1rem;
}

button:active {
  background-color: #525252;
}

.funcBtn,
.numsBtn {
  flex: 1;
  margin: 0;
  padding: 0;
}

.funcBtn {
  background-color: rgb(67, 185, 93);
  flex: 1;
  margin: 0;
  padding: 0;
}

.numsBtn {
  background-color: rgb(235, 153, 30);
}

#zero {
  flex-grow: 2;
}
